#currentScale {
	text-align: center;
	font-weight: bold;
	font-size: 130%;
}

#outputParagraph {
	text-align: center;
}

#correct {
	color: #7FFF00;
}

#incorrect {
	color: red;
}

#buttons {
	text-align: center;
}

input {
	font-size: 100%;
	padding: 1em;
	display: inline-block;
	margin: 0 auto;
	background-color: #808080;
	color: #FFF;
	cursor: pointer;
	border: none;
	width: 10em;
}

input:hover {
    background: #333;
}
